@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

button:focus {
  outline: none;
}

::selection {
  background-color: #151515;
  color: #eeeeee;
}

/* For Firefox */
::-moz-selection {
  background-color: #151515;
  color: #eeeeee;
}
